@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
h1 { 
    font-size:5vw;
}
.bit{
    font-family: 'Press Start 2P', cursive;
}
.jumbotron h3 ,h1{
    color:#1d2021 !important;
}
.other{
    font-family: 'Roboto Mono', monospace;
}

