@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body {
   background: #EBEBEB !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pane-container{
    width : 500px;
    box-sizing : border-box;
    display:inline-block;
}
.font { 
    font-family: 'PT Mono', monospace;
}
.font2 { 
    font-family: 'Staatliches', cursive;
}
